= form_for(:session, :url => "/sessions", :method => :post, :html => {:class => "new-session"}) do |f|
  = f.text_field :password, :placeholder => "You know what to enter"
  = f.submit "Submit", :class => "btn btn-primary"