= form_for(:session, :url => "/sessions", :method => :post, :html => {:class => "new-session"}) do |f|
  %i.text-hint You know where you are. But do you know who you are?
  = f.text_field :password, :placeholder => "Enter the password"
  = f.submit "Submit", :class => "btn btn-primary"