:javascript
  $(document).ready(function(){
    var group = #{@group};
    var event_id = #{@event.id};
    $.preprocessTable(group);
    
    //Add row to the table
    $('.btn-add-row').addRow();
    
    //Add people to the group
    $('#event_group').tagsInput({
      'defaultText':'add a person',
      'width':'auto',
      'height':'30px'
    });

    $.addPeopleToEvent(group,event_id);

    //specify the people for the expense
    $('body').on('click','td span.participant',function(){
      $(this).tagPicker(group);
    });

    //specify the person who paid
    $('body').on('click','td span.user',function(){
      $(this).tagPicker(group,{type:'radio'});      
    })

    //save the TABLE data
    $('.btn-save').saveForm();
    
  })