:javascript
  $(document).ready(function(){
    var group = #{@group};
    var event_id = #{@event.id};
    loadGroup(group);
    preprocessTable();
    
    //Add row to the table
    $('.btn-add-row').click(function(){
      addRow();
    })
    
    //Add people to the group
    $('#event_group').tagsInput({
      'defaultText':'add a person'
    });
    
    $('.btn-add-people').click(function(){
      //update the group of people
      group = addPeopleToEvent(group,event_id);
    })

    //specify the people for the expense
    $('body').on('click','.participant',function(){
      $(this).tagPicker(group);
    });

    //specify the person who paid
    $('body').on('click','.user',function(){
      alert(dodoIs());
      $(this).tagPicker(group);      
    })

    //save the TABLE data
    $('.btn-save').click(function(){
      saveForm();
    })
    
  })