.page 
  = form_for(@event, :multipart => true, :html => {:method => 'put'}) do |f|

    = f.text_field :name, :value => "#{@event.name}"
    
    -# the group input is tricky
    %label#group-label Group:
    %input{:name => "event[group]",:type => 'text',:id => 'event_group'}
    -# TODO: should be automatically add with ajax
    .btn.btn-primary.btn-add-people add those people

    %table.table.table-bordered
      %thead
        %tr
          %td Expenses 
          %td How Much ($)
          %td Paid By
          %td People Include
      %tbody
        %tr.table-row
          %td
            %input{:name => "event[expense_0]",:type => 'text',:id => 'event_expense_0'}
          %td 
            %input{:name => "event[cost_0]",:type => 'text',:id => 'event_expense_0'}
          %td 
            %input{:name => "event[paid_by_0]",:type => 'text',:id => 'event_paid_by_0'}
          %td 
            %input.people-included{:name => "event[people_included_0]",:type => 'text',:id => 'event_people_included_1',:value => 'All'}

    .btn.btn-primary.btn-add-row Add a row
    %br
    .pull-left 
      .btn.btn-success.btn-save Save
    .pull-right
      .btn.btn-success.btn-calculate Calculate

= render :partial => 'js'