*, *:after, *:before { 
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box; 
}

$imageSize: 150px;

$pageTop: 182px;

$left: 195px; //left for the line and dot
$top: $imageSize; //top for the dot
$dividerWidth: 2px;
$dotRadius: 7px;
$dotBorder: 5px;

$postPadding: 20px;

header {
	height: 7px;
	width: 100%;
	background-color: rgb(50, 50, 50);
	position: fixed;
	top: 0;
	z-index: 100;
}

.flash-container {
	position: fixed;
	top: 20px;
	z-index: 1000;
}

.posts {
	.btn {
		font-size: 13px;
		line-height: 18px;
	}
}

.container[role=main] {
  margin-top: $pageTop;
}

.relative-position {
	position: relative;
}

.signin-container {
  width: 640px;
  margin: 0 auto;
  color: #ccc;

  .heading {
  	margin: 40px 0;
  }

  input[name="session[password]"] {
    display: block;
    height: 44px;
    padding: 10px 4px;
    width: 300px;
  }

  input[type=submit] {
  	border-width: 0;
  	background-image: none;
  	color: white;
  	text-shadow: none;
  }

  .text-hint {
  	margin-bottom: 5px;
  	//color: rgb(46,126,255);
  	font-size: 0.8em;
  	display: block;
  }
}

.timer-container {
	position: fixed;
  top: 7px;
  width: 100%;
  background-color: rgb(250,250,250);
  margin: 0 auto;
  padding: 50px 0;
  z-index: 100;

  .wrapper {
  	width: 640px;
  	margin: 0 auto;
  }
	
	h1 {
		font-size: 60px;
		line-height: 1em;
		display: inline-block;

		small {
			font-size: 0.35em;
			line-height: 0.5em;
		}
	}

	.timer {
		color: white;
		padding: 20px;
		background-color: rgb(50, 50, 50);
	}
}

.timeline-container {
  width: 640px;
	margin: 0 auto;

	.post-container {
		padding: $postPadding;
		position: relative;
    
    &:hover {
    	background-color: rgba(10,10,10, 0.1);
    }

		.left {

			img {
				width: $imageSize;
				height: $imageSize;
			}
		}

		.right {
			.wrapper {
				margin-top: $imageSize - 45px;

				p {
					padding: 15px;
				  background-color: #f5f5f5;
				}

				small {
					font-size: 0.7em;
				}
			}
		}

		.divider {
			position: absolute;
			left: $left;
			top: 0;
			width: 0;
			border-left: solid $dividerWidth rgb(70,70,70);
		}
    
		.dot {
			position: absolute;
			left: $left + $dividerWidth / 2 - $dotRadius;
			top: $top + $postPadding - $dotRadius;
			width: $dotRadius * 2;
			height: $dotRadius * 2;
      border-radius: $dotRadius;
      background-color: white;
      border: solid $dotBorder gray;
      z-index: 10;
		}

		.post-date {
			font-size: 0.7em;
			position: absolute;
			top: $top + $postPadding + 5px;
			right: 470px;
		}

		&.no-photo {
			$dotTop:  55px;

			.post-date {
			  top: $dotTop - 5px;
		  }

		  .dot {
		  	top: $dotTop;
		  }

		  .right {
		  	.wrapper {
		  		margin-top: 0;
		  	}
		  }
		}
	}
}

.btn-new-post {
	position: fixed;
	top: $pageTop + 20px;
  right: 100px;
}

.btn-edit-post {
	position: absolute;
	top: 0;
	right: 0;
}

.btn-back-top {
	position: fixed;
	bottom: 50px;
	left: 100px;
}
